version: '3.9'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: jobs-api
    command: npm run start:hmr
    env_file:
      - .env
    environment:
      DATABASE_URL: postgresql://postgres:password@db:5432/mydb
      REDIS_HOST: redis
      REDIS_PORT: 6379
      NODE_ENV: development

      CHOKIDAR_USEPOLLING: "true"
      CHOKIDAR_INTERVAL: 100
      WATCHPACK_POLLING: "true"
      WATCHPACK_POLLING_INTERVAL: 100
      USE_FS_EVENTS: "false"

    depends_on:
      db:
        condition: service_started
      redis:
        condition: service_started

    ports:
      - "3000:3000"
      - "5555:5555"

    volumes:
      - .:/usr/src/app
      - node_modules:/usr/src/app/node_modules

    working_dir: /usr/src/app
    extra_hosts:
      - "host.docker.internal:host-gateway"

  db:
    image: postgres:16-alpine
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: redis
    restart: always
    ports:
      - "6379:6379"

volumes:
  pgdata:
  node_modules:
